<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quiz App</a>
    </div>
    <div class="collapse navbar-collapse">
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="color:green; font-size:200px;">
  <p ng-class="{red:messageColorRed, green:messageColorGreen}" style="font-size:50px;">{{message}}</p>
  <p ng-class="{red:shouldBeRed()}" style="font-size:200px;">{{userPoints | number}}</p>
  </div>

<div>
  <li ng-model="quiz" ng-repeat="question in quiz | orderBy:'difficulty'" style="list-style-type: none">
    <strong>{{$index +1}}. {{ question.q }}</strong>
  <ul>
    <li ng-click="checkAnswer(question.answer, option.value)" class="btn btn-danger" style="display:block; width:17%; margin: 13px" ng-repeat="option in question.options">{{option.value}}</li>
  </ul>
  </li>
</div>

<div>{{newQuestion.q}}</div>
<div>{{newQuestion.options[0].value}}</div>
<div>{{newQuestion.options[1].value}}</div>
<div>{{newQuestion.options[2].value}}</div>
<div>{{newQuestion.options[3].value}}</div>

<div>
  <form ng-submit>
    <input placeholder="Your Question" ng-model="newQuestion.q">
    <input placeholder="Right Answer" ng-model="newQuestion.options[0].value" value="">
    <input placeholder="Other Answer" ng-model="newQuestion.options[1].value">
    <input placeholder="Other Answer" ng-model="newQuestion.options[2].value">
    <input placeholder="Other Answer" ng-model="newQuestion.options[3].value">
    <input placeholder="diff" ng-model="newQuestion.difficulty">
    <button class="btn btn-primary" ng-click="addQuestion()">Add Question</button>
  </form>
</div>
























































































<!-- <div class="container">
  <div class="jumbotron question">
    <form action="">
      <h2>Insert Question Here</h2>
      <ul id='question-list'>
        <li><input type="radio" name="" value=""><span> A </span>Question </li>
        <li><input type="radio" name="" value=""><span> B </span>Question </li>
        <li><input type="radio" name="" value=""><span> C </span>Question </li>
        <li><input type="radio" name="" value=""><span> D </span>Question </li>
      </ul>
    </form>
  </div>

</div> -->

<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->